nav a{
    text-align: center;
    text-decoration: none;
    margin: 15px;
    font-size: medium;
    font-weight: 800;
    color: white;
}
.icon a{
    text-decoration: none;
    font-weight: 800;
    color: white;
    font-size: medium;
    margin: 20px;
}
/* #navbar{
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    box-shadow: 0.5rem rem rgba(0,0,0,0.2);
    background-color: transparent;
} */
#first{
    width: 35%;
    height: 35%;
    display: flexbox;
    border-radius: 15px;
    display: inline-flex;
    padding: 7px;
    position: relative;
    opacity: 0.7;
}
#troll{
    width: 33.8%;
    height: 33.8%;
    display: flexbox;
    border-radius: 15px;
    display: inline-flex;
    padding: 7px;
    position: relative;
    opacity: 0.7;
}
#sec{
    width: 40%;
    height: 40%;
    display: flexbox;
    border-radius: 15px;
    display: inline-flex;
    padding: 7px;
    position: relative;
    opacity: 0.7;
}
.text{
    position: absolute;
    top: 250px;
    left: 140px;
    background-color: green;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 2;
}




